<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CheapETL</title>
    <link rel="stylesheet" href="../static/css/table.css">
</head>
<body>
<h1>任务列表</h1>
<table class="beautiful-table">
    <thead>
    <tr>
        <th class="sortable">任务名</th>
        <th class="sortable">类型</th>
        <th class="sortable">工作目录</th>
        <th class="sortable">参数</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for job in jobs %}
    <tr>
        <td data-label="任务名">{{ job.job_name }}</td>
        <td data-label="类型">{{ job.job_type }}</td>
        <td data-label="工作目录">{{ job.job_work_dir }}</td>
        <td data-label="参数">{{ job.job_params }}</td>
        <td>
            <button class="action-btn edit-btn">编辑</button>
            <button class="action-btn delete-btn">删除</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</ul>
</body>
</html>